In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv('Transactions.csv')

In [3]:
df = df.sample(1000 , random_state=42)

In [4]:
df

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,rooms_en,has_parking,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3
1046624,1-102-2023-17138,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,07-04-2023,3,وحدة,...,Studio,1,40.88,641000.0,15680.04,NaN,NaN,1.0,1.0,0.0
792961,3-9-2022-3031,9,3,هبات,Gifts,هبه,Grant,22-09-2022,3,وحدة,...,2 B/R,1,134.67,2990546.0,22206.47,NaN,NaN,1.0,1.0,0.0
844185,2-110-2022-279,110,2,رهون,Mortgages,تسجيل إيجارة تنتهى بالتملك,Lease to Own Registration,15-07-2022,4,فيلا,...,4 B/R,0,208.63,2475000.0,11863.11,2475000.0,11863.0,2.0,2.0,2.0
448478,2-13-2018-6626,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,14-08-2018,4,فيلا,...,NaN,0,904.60,5050000.0,5582.58,NaN,NaN,1.0,1.0,0.0
1068070,1-11-2022-11646,11,1,مبايعات,Sales,بيع,Sell,30-05-2022,3,وحدة,...,1 B/R,1,123.50,1340000.0,10850.20,NaN,NaN,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972649,1-107-2007-1036,107,1,مبايعات,Sales,تسجيل إيجارة تنتهى بالتملك - تسجيل مبدئى,Lease to Own Registration Pre-Registration,06-05-2010,3,وحدة,...,1 B/R,1,80.86,598019.0,7395.74,NaN,NaN,2.0,2.0,2.0
294722,2-13-2022-11222,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,27-07-2022,1,أرض,...,NaN,0,1970.29,70000000.0,35527.76,NaN,NaN,1.0,1.0,0.0
740896,1-11-2016-5233,11,1,مبايعات,Sales,بيع,Sell,03-05-2016,3,وحدة,...,Studio,0,43.00,335000.0,7790.70,NaN,NaN,1.0,1.0,0.0
657588,1-11-2022-5760,11,1,مبايعات,Sales,بيع,Sell,22-03-2022,3,وحدة,...,1 B/R,1,60.04,285000.0,4746.84,NaN,NaN,2.0,1.0,0.0
858948,1-102-2021-14554,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,30-08-2021,4,فيلا,...,4 B/R,0,249.21,2406888.0,9658.07,NaN,NaN,1.0,1.0,0.0

In [5]:
df = df.reset_index(drop= True)

In [6]:
df

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,rooms_en,has_parking,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3
0,1-102-2023-17138,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,07-04-2023,3,وحدة,...,Studio,1,40.88,641000.0,15680.04,NaN,NaN,1.0,1.0,0.0
1,3-9-2022-3031,9,3,هبات,Gifts,هبه,Grant,22-09-2022,3,وحدة,...,2 B/R,1,134.67,2990546.0,22206.47,NaN,NaN,1.0,1.0,0.0
2,2-110-2022-279,110,2,رهون,Mortgages,تسجيل إيجارة تنتهى بالتملك,Lease to Own Registration,15-07-2022,4,فيلا,...,4 B/R,0,208.63,2475000.0,11863.11,2475000.0,11863.0,2.0,2.0,2.0
3,2-13-2018-6626,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,14-08-2018,4,فيلا,...,NaN,0,904.60,5050000.0,5582.58,NaN,NaN,1.0,1.0,0.0
4,1-11-2022-11646,11,1,مبايعات,Sales,بيع,Sell,30-05-2022,3,وحدة,...,1 B/R,1,123.50,1340000.0,10850.20,NaN,NaN,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1-107-2007-1036,107,1,مبايعات,Sales,تسجيل إيجارة تنتهى بالتملك - تسجيل مبدئى,Lease to Own Registration Pre-Registration,06-05-2010,3,وحدة,...,1 B/R,1,80.86,598019.0,7395.74,NaN,NaN,2.0,2.0,2.0
996,2-13-2022-11222,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,27-07-2022,1,أرض,...,NaN,0,1970.29,70000000.0,35527.76,NaN,NaN,1.0,1.0,0.0
997,1-11-2016-5233,11,1,مبايعات,Sales,بيع,Sell,03-05-2016,3,وحدة,...,Studio,0,43.00,335000.0,7790.70,NaN,NaN,1.0,1.0,0.0
998,1-11-2022-5760,11,1,مبايعات,Sales,بيع,Sell,22-03-2022,3,وحدة,...,1 B/R,1,60.04,285000.0,4746.84,NaN,NaN,2.0,1.0,0.0
999,1-102-2021-14554,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,30-08-2021,4,فيلا,...,4 B/R,0,249.21,2406888.0,9658.07,NaN,NaN,1.0,1.0,0.0

In [8]:
df['instance_date'].unique()

array(['07-04-2023', '22-09-2022', '15-07-2022', '14-08-2018',
       '30-05-2022', '14-04-2009', '04-03-2013', '19-06-2018',
       '24-02-2023', '30-12-2014', '21-02-2011', '05-06-2018',
       '03-08-2021', '24-04-2023', '11-06-2009', '31-12-2012',
       '21-05-2014', '31-08-2020', '02-11-2010', '24-11-2022',
       '24-12-2014', '03-05-2023', '25-05-2022', '25-07-2012',
       '29-10-2008', '28-06-2010', '31-03-2014', '06-07-2022',
       '20-08-2013', '11-08-2021', '25-05-2017', '13-05-2019',
       '02-06-2009', '29-09-2020', '28-04-2009', '30-09-2020',
       '20-05-2010', '16-11-2015', '11-05-2022', '19-02-2014',
       '28-08-2017', '08-01-2009', '05-07-2022', '09-03-2023',
       '28-12-2020', '09-04-2014', '23-02-2009', '03-01-2011',
       '15-04-2009', '01-10-2013', '02-03-2010', '21-12-2022',
       '16-05-2016', '12-07-2017', '31-03-2015', '17-04-2014',
       '16-12-2019', '06-02-2023', '11-08-2009', '20-12-2021',
       '02-05-2016', '19-01-2023', '11-05-2015', '07-09-2015',
       '05-06-2023', '01-06-2022', '12-07-2021', '04-02-2013',
       '28-09-2009', '25-05-2021', '13-12-2022', '25-10-2016',
       '26-01-2009', '23-04-2019', '15-02-2012', '07-07-2008',
       '26-12-2011', '29-06-2009', '24-10-2016', '23-11-2021',
       '20-01-2022', '21-09-2020', '08-06-2023', '18-03-2019',
       '30-03-2023', '13-02-2018', '24-05-2017', '28-04-2011',
       '26-03-2020', '08-03-2010', '11-04-2023', '11-10-2021',
       '07-06-2022', '27-08-2019', '06-03-2017', '18-05-2020',
       '09-12-2013', '30-08-2021', '01-05-2009', '29-01-2009',
       '22-02-2010', '09-09-2014', '09-12-2010', '15-08-2022',
       '22-08-2016', '26-11-2018', '05-03-2009', '09-09-2019',
       '19-05-2008', '01-07-2009', '12-07-2022', '21-01-2014',
       '15-04-2010', '01-02-2010', '25-02-2022', '18-07-2014',
       '16-07-2008', '07-09-2022', '16-11-2016', '25-12-2008',
       '16-12-2013', '05-05-2010', '04-02-2010', '07-12-2020',
       '03-11-2009', '21-05-2008', '26-11-2015', '27-05-2022',
       '28-04-2022', '03-06-2020', '17-07-2009', '08-12-2016',
       '26-11-2008', '09-12-2020', '02-10-2013', '15-07-2014',
       '26-01-2021', '24-11-2008', '19-10-2009', '27-04-2009',
       '28-12-2016', '12-10-2021', '15-06-2011', '10-09-2018',
       '17-11-2008', '28-08-2013', '04-01-2018', '17-05-2018',
       '12-07-2010', '27-09-2007', '24-07-2013', '31-12-2009',
       '02-01-2018', '03-07-2017', '29-05-2012', '10-08-2021',
       '17-09-2014', '26-04-2021', '12-01-2017', '23-04-2021',
       '14-04-2016', '06-09-2022', '21-01-2010', '07-10-2013',
       '21-10-2013', '02-06-2023', '10-03-2010', '28-03-2007',
       '21-02-2017', '28-05-2014', '21-07-2022', '21-02-2023',
       '20-07-2022', '25-12-2017', '06-03-2008', '05-01-2015',
       '05-08-2021', '23-11-2022', '06-09-2016', '23-03-2022',
       '29-03-2023', '04-12-2017', '24-03-2020', '13-10-2014',
       '27-12-2011', '03-03-2010', '25-07-2018', '03-10-2022',
       '24-03-2010', '28-10-2009', '25-03-2010', '11-05-2010',
       '08-02-2022', '13-08-2009', '12-05-2009', '11-12-2012',
       '09-12-2019', '15-06-2023', '22-02-2023', '10-03-2009',
       '01-10-2018', '06-07-2011', '08-06-2004', '06-10-2021',
       '16-06-2021', '14-04-2008', '02-07-2014', '25-09-2014',
       '16-02-2009', '16-07-2009', '15-10-2014', '25-04-2023',
       '07-08-2013', '14-06-2007', '08-04-2003', '06-03-2013',
       '26-07-2005', '28-04-2016', '28-03-2016', '07-11-2016',
       '23-08-2017', '24-06-2013', '23-02-2017', '12-02-2009',
       '15-01-2020', '30-04-2018', '10-04-2012', '02-08-2021',
       '31-01-2022', '29-05-2017', '04-12-2012', '13-07-2011',
       '03-07-2019', '27-02-2012', '20-01-2010', '04-04-2013',
       '17-09-2015', '30-06-2022', '24-06-2014', '11-07-2014',
       '06-04-2010', '02-09-2013', '31-10-2011', '06-06-2022',
       '15-03-2021', '15-03-2011', '14-10-2022', '07-03-2019',
       '19-07-2016', '12-02-2020', '16-02-2023', '01-11-2018',
       '27-01-2023', '17-04-2018', '16-06-2014', '08-08-2016',
       '14-01-2002', '03-01-2018', '14-03-2013', '18-10-2022',
       '13-11-2014', '11-01-2023', '29-09-2014', '19-12-2016',
       '04-08-2021', '11-12-2013', '29-03-2021', '16-05-2013',
       '09-04-2020', '04-05-2021', '27-12-2012', '25-04-2011',
       '27-09-2012', '16-01-2023', '29-12-2021', '22-03-2018',
       '27-04-2017', '26-01-2023', '10-12-2013', '24-11-2014',
       '29-09-2011', '10-12-2018', '25-05-2023', '17-02-2022',
       '15-12-2008', '10-03-2023', '26-09-2017', '15-11-2016',
       '17-03-2011', '16-07-2012', '25-08-2011', '16-03-2015',
       '25-08-2022', '20-03-2012', '20-05-2009', '11-05-2023',
       '26-10-2009', '08-11-2022', '15-10-2012', '11-04-2011',
       '27-11-2018', '04-07-2022', '05-01-2009', '27-08-2013',
       '23-02-2011', '11-10-1999', '02-03-2015', '26-07-2022',
       '14-10-2019', '05-07-2010', '18-07-2006', '05-10-2022',
       '25-08-2014', '23-09-2013', '04-04-2023', '09-04-2013',
       '24-12-2008', '05-04-2021', '11-11-2009', '16-10-2017',
       '28-09-2010', '26-05-2015', '17-03-2022', '01-07-2008',
       '10-10-2022', '09-06-2009', '17-08-2009', '09-08-2021',
       '09-02-2009', '25-01-2016', '26-06-2013', '13-01-2022',
       '14-05-2014', '06-09-2021', '24-03-2022', '19-04-2012',
       '10-11-2021', '31-10-2022', '28-10-2015', '19-07-2021',
       '07-10-2022', '15-09-2022', '20-12-2022', '14-04-2010',
       '28-09-2015', '28-01-2014', '05-07-2017', '22-06-2020',
       '19-06-2017', '25-07-2019', '12-04-2012', '12-09-2013',
       '16-02-2011', '13-05-2016', '27-06-2012', '20-06-2012',
       '22-11-2022', '02-06-2015', '25-12-2018', '27-03-2018',
       '24-01-2011', '01-04-2019', '25-04-2013', '19-08-2021',
       '01-04-2009', '26-09-2016', '19-12-2011', '13-02-2019',
       '24-10-2018', '10-07-2013', '15-06-2017', '01-05-2023',
       '28-06-2022', '02-06-2008', '23-08-2022', '04-08-2022',
       '11-01-2021', '29-09-2022', '16-05-2012', '02-01-2017',
       '21-10-2010', '17-05-2022', '01-02-2023', '03-01-2012',
       '23-03-2010', '25-05-2009', '14-03-2011', '17-09-2020',
       '16-03-2011', '27-09-2018', '01-08-2011', '18-12-2018',
       '08-10-2007', '13-05-2009', '15-02-2005', '21-11-2022',
       '28-09-2020', '08-03-2023', '15-03-1999', '25-01-2023',
       '06-09-2010', '02-08-2016', '04-10-2010', '01-06-2020',
       '29-05-2013', '05-01-2022', '05-04-2010', '03-10-2011',
       '04-01-2023', '05-03-2013', '21-07-2009', '12-03-2019',
       '30-03-2021', '18-09-2013', '21-11-2019', '30-10-2019',
       '22-10-2020', '02-11-2016', '19-04-2010', '12-06-2019',
       '05-05-2009', '24-10-2019', '25-11-2020', '06-09-2018',
       '14-11-2018', '23-05-2016', '21-07-2014', '14-12-2022',
       '31-12-2008', '01-03-2022', '30-10-2013', '24-06-2009',
       '16-04-2012', '04-04-2016', '12-02-2015', '02-04-2018',
       '22-12-2022', '23-02-2015', '11-07-2016', '14-08-2007',
       '16-06-2010', '21-11-2013', '20-01-2014', '11-09-2018',
       '22-04-2022', '08-09-2014', '18-07-2017', '23-12-2014',
       '13-03-2023', '20-05-2019', '10-12-2019', '16-12-2015',
       '11-06-2020', '08-08-2022', '22-06-2010', '18-06-2009',
       '18-01-2023', '16-09-2014', '28-11-2017', '22-06-2015',
       '09-06-2011', '22-04-2013', '08-06-2009', '14-09-2017',
       '28-08-2014', '29-01-2013', '13-04-2009', '04-11-2019',
       '17-03-2014', '02-04-2009', '07-08-2017', '10-02-2009',
       '15-06-2009', '07-11-2013', '10-02-2020', '18-06-2019',
       '03-10-2013', '20-07-2010', '27-05-2019', '01-10-2009',
       '03-09-2018', '31-01-2023', '09-05-2017', '15-02-2011',
       '10-06-2010', '01-05-2012', '10-05-2023', '25-02-2009',
       '12-04-2017', '22-03-2021', '29-07-2019', '24-01-2023',
       '14-12-2016', '29-01-2014', '16-01-2017', '30-05-2016',
       '17-02-2010', '17-06-2020', '30-04-2015', '07-12-2017',
       '23-11-2016', '13-01-2020', '14-03-2023', '07-04-2010',
       '06-02-2008', '15-09-2014', '12-11-2007', '05-01-2005',
       '12-12-2013', '02-09-2022', '20-06-2005', '17-05-2012',
       '12-02-2013', '17-09-2001', '27-06-2011', '01-11-2022',
       '08-12-2022', '31-03-2008', '10-11-2022', '25-05-2015',
       '25-01-2018', '16-05-2018', '09-02-2017', '10-01-2018',
       '01-05-2008', '18-06-2001', '28-06-2011', '22-05-2013',
       '12-05-2023', '24-02-2020', '07-02-2008', '21-02-2022',
       '22-03-2023', '21-01-2022', '21-04-2014', '16-08-2022',
       '05-01-2016', '05-03-2018', '15-11-2022', '12-01-2015',
       '14-02-2011', '05-03-2014', '23-06-2014', '27-06-2014',
       '15-08-2017', '04-06-2020', '28-04-2014', '16-07-2013',
       '22-04-2009', '26-05-2021', '06-12-2021', '28-07-2022',
       '01-11-2021', '23-06-2021', '28-03-2019', '11-04-2006',
       '03-09-2009', '19-05-2022', '07-12-2022', '14-06-2022',
       '13-02-2023', '02-08-2017', '20-11-2012', '22-12-2011',
       '06-04-2011', '10-01-2013', '27-12-2017', '24-08-2009',
       '18-07-2012', '11-11-2019', '23-06-2023', '01-08-2017',
       '31-03-2022', '03-03-2021', '11-03-2009', '29-10-2019',
       '21-02-2019', '05-03-2007', '16-06-2022', '23-07-2018',
       '14-06-2023', '13-05-2010', '03-02-2014', '23-03-2021',
       '11-04-2012', '17-10-2011', '29-12-2010', '10-08-2015',
       '18-12-2013', '01-10-2019', '22-12-2016', '26-11-2013',
       '02-07-2013', '29-05-2023', '14-09-2009', '30-06-2010',
       '06-05-2013', '22-01-2015', '11-04-2016', '06-10-2009',
       '28-01-2019', '27-04-2015', '14-01-2013', '17-01-2019',
       '24-04-2012', '10-04-2023', '16-11-2009', '18-01-2010',
       '30-11-2012', '12-07-2004', '25-12-2013', '29-04-2013',
       '17-01-2017', '23-12-2020', '30-03-2009', '05-11-2019',
       '13-06-2016', '28-04-2015', '11-03-2008', '10-05-2016',
       '24-01-2022', '17-03-2016', '26-12-2018', '10-02-2016',
       '28-05-2013', '07-09-2016', '11-08-2022', '04-09-2014',
       '19-05-2009', '27-03-2019', '01-05-2006', '29-06-2021',
       '18-01-2021', '23-02-2010', '26-09-2011', '25-01-2010',
       '10-08-2020', '19-08-2008', '21-09-2022', '30-05-2012',
       '07-02-2019', '17-03-2009', '12-08-2020', '28-06-2012',
       '25-02-2016', '14-07-2011', '15-09-2015', '13-12-2017',
       '24-02-2021', '07-01-2020', '27-02-2023', '14-07-2022',
       '29-08-2022', '25-12-2006', '22-06-2017', '02-11-2015',
       '04-08-2009', '20-04-2009', '18-01-2017', '22-09-2021',
       '16-10-2014', '19-10-2010', '23-05-2023', '26-02-2020',
       '26-10-2022', '15-02-2018', '29-09-2015', '15-04-2020',
       '18-12-2017', '09-10-2013', '29-03-2016', '31-08-2022',
       '22-06-2009', '02-09-2008', '09-10-2017', '09-08-2022',
       '04-05-2010', '07-11-2006', '26-05-2022', '06-11-2017',
       '08-11-2012', '30-06-2021', '08-04-2009', '13-04-2022',
       '17-06-2019', '25-08-2015', '22-12-2015', '28-11-2012',
       '28-12-2022', '29-07-2020', '06-04-2021', '30-10-2012',
       '01-05-2014', '23-09-2010', '14-03-2018', '10-10-2011',
       '18-06-2013', '02-03-2011', '21-05-2013', '02-06-2021',
       '05-11-2012', '28-04-2008', '07-02-2013', '01-04-2022',
       '08-06-2010', '16-04-2018', '14-05-2018', '03-12-2013',
       '18-09-2014', '13-06-2005', '27-01-2009', '24-07-2020',
       '04-08-2010', '28-10-2022', '23-07-2020', '03-06-2002',
       '19-01-2022', '21-01-2015', '22-04-2008', '01-02-2016',
       '25-02-2021', '21-04-2008', '14-05-2013', '10-03-2020',
       '04-10-2013', '03-10-2017', '05-08-2009', '18-09-2018',
       '28-06-2018', '21-07-2015', '29-12-2008', '21-01-2021',
       '19-04-2005', '11-02-2014', '17-05-2021', '09-08-2010',
       '29-04-2019', '30-09-2021', '08-07-2010', '11-07-2019',
       '27-01-2020', '31-07-2019', '28-05-2009', '28-07-2011',
       '03-11-2021', '01-02-2021', '13-10-2022', '06-12-2022',
       '31-03-2009', '29-06-2015', '24-04-2019', '26-10-2015',
       '04-06-2013', '21-05-2012', '14-03-2016', '03-11-2011',
       '15-08-2018', '24-03-2014', '24-12-2018', '31-05-2021',
       '03-09-2008', '16-07-2003', '27-04-2016', '13-03-2017',
       '15-06-2022', '14-07-2009', '15-07-2009', '10-10-2016',
       '05-02-2019', '05-04-2023', '11-06-2007', '01-10-2012',
       '14-01-2015', '09-06-2010', '24-03-2016', '16-02-2010',
       '19-03-2014', '11-08-2014', '28-10-2021', '19-10-2022',
       '27-10-2015', '14-09-2022', '11-04-2017', '14-09-2015',
       '10-08-2009', '18-02-2020', '14-04-2022', '06-12-2018',
       '13-01-2023', '13-05-2015', '11-12-2018', '18-12-2012',
       '10-07-2017', '22-10-2014', '18-04-2013', '09-07-2009',
       '06-01-2016', '17-07-2017', '23-12-2013', '31-01-2018',
       '25-09-2012', '16-12-2022', '18-08-2014', '11-03-2013',
       '22-05-2014', '18-08-2021', '11-08-2003', '07-06-2010',
       '03-11-2022', '09-04-2018', '07-10-2021', '27-10-2014',
       '15-12-2003', '15-05-2017', '05-05-2015', '26-11-2012',
       '11-02-2022', '20-03-2023', '01-06-2015', '02-09-2010',
       '07-02-2022', '09-09-2021', '29-10-2009', '04-02-2022',
       '20-05-2013', '30-01-2014', '05-10-2017', '18-05-2021',
       '06-05-2010', '27-07-2022', '03-05-2016', '22-03-2022'],
      dtype=object)

In [9]:
df['instance_date'] = pd.to_datetime(df['instance_date'])

C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '22-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '15-07-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '14-08-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '30-05-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '14-04-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '19-06-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '24-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '30-12-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '21-02-2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '24-04-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '31-12-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '21-05-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '31-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '24-11-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '24-12-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-05-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-07-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '29-10-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '28-06-2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '31-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '20-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '13-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '29-09-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '28-04-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '30-09-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '20-05-2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '16-11-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '19-02-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '28-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '28-12-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '23-02-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '15-04-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '21-12-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '16-05-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '31-03-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '17-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '16-12-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '20-12-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '19-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '28-09-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-05-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '13-12-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-10-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '26-01-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '23-04-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '15-02-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '26-12-2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '29-06-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '24-10-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '23-11-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '20-01-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '21-09-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '18-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '30-03-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '13-02-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '24-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '28-04-2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '26-03-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '27-08-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '18-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '30-08-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '29-01-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '22-02-2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '15-08-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '22-08-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '26-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '19-05-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '21-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '15-04-2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-02-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '18-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '16-07-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '16-11-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '25-12-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '16-12-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '21-05-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])
C:\Users\PC\AppData\Local\Temp\ipykernel_9876\3620295645.py:1: UserWarning: Parsing '26-11-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['instance_date'] = pd.to_datetime(df['instance_date'])

In [10]:
df['year'] = df['instance_date'].dt.year

In [11]:
df

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,has_parking,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,year
0,1-102-2023-17138,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,2023-07-04,3,وحدة,...,1,40.88,641000.0,15680.04,NaN,NaN,1.0,1.0,0.0,2023
1,3-9-2022-3031,9,3,هبات,Gifts,هبه,Grant,2022-09-22,3,وحدة,...,1,134.67,2990546.0,22206.47,NaN,NaN,1.0,1.0,0.0,2022
2,2-110-2022-279,110,2,رهون,Mortgages,تسجيل إيجارة تنتهى بالتملك,Lease to Own Registration,2022-07-15,4,فيلا,...,0,208.63,2475000.0,11863.11,2475000.0,11863.0,2.0,2.0,2.0,2022
3,2-13-2018-6626,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,2018-08-14,4,فيلا,...,0,904.60,5050000.0,5582.58,NaN,NaN,1.0,1.0,0.0,2018
4,1-11-2022-11646,11,1,مبايعات,Sales,بيع,Sell,2022-05-30,3,وحدة,...,1,123.50,1340000.0,10850.20,NaN,NaN,1.0,1.0,0.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1-107-2007-1036,107,1,مبايعات,Sales,تسجيل إيجارة تنتهى بالتملك - تسجيل مبدئى,Lease to Own Registration Pre-Registration,2010-06-05,3,وحدة,...,1,80.86,598019.0,7395.74,NaN,NaN,2.0,2.0,2.0,2010
996,2-13-2022-11222,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,2022-07-27,1,أرض,...,0,1970.29,70000000.0,35527.76,NaN,NaN,1.0,1.0,0.0,2022
997,1-11-2016-5233,11,1,مبايعات,Sales,بيع,Sell,2016-03-05,3,وحدة,...,0,43.00,335000.0,7790.70,NaN,NaN,1.0,1.0,0.0,2016
998,1-11-2022-5760,11,1,مبايعات,Sales,بيع,Sell,2022-03-22,3,وحدة,...,1,60.04,285000.0,4746.84,NaN,NaN,2.0,1.0,0.0,2022
999,1-102-2021-14554,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,2021-08-30,4,فيلا,...,0,249.21,2406888.0,9658.07,NaN,NaN,1.0,1.0,0.0,2021

In [12]:
df['year'].unique()

array([2023, 2022, 2018, 2009, 2013, 2014, 2011, 2021, 2012, 2020, 2010,
       2008, 2017, 2019, 2015, 2016, 2007, 2004, 2003, 2005, 2002, 1999,
       2006, 2001], dtype=int64)

# Create a column of category type of transactions

In [13]:
df['property_type_en'].unique()

array(['Unit', 'Villa', 'Land', 'Building'], dtype=object)

In [14]:
df['property_usage_en'].unique()

array(['Residential', 'Commercial', 'Other', 'Hospitality ', 'Industrial',
       'Storage', 'Multi-Use'], dtype=object)

Initialize the coulmn befor creation

In [15]:
df['category_type'] = np.random.rand(1000,1)

In [16]:
df

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,year,category_type
0,1-102-2023-17138,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,2023-07-04,3,وحدة,...,40.88,641000.0,15680.04,NaN,NaN,1.0,1.0,0.0,2023,0.467143
1,3-9-2022-3031,9,3,هبات,Gifts,هبه,Grant,2022-09-22,3,وحدة,...,134.67,2990546.0,22206.47,NaN,NaN,1.0,1.0,0.0,2022,0.025329
2,2-110-2022-279,110,2,رهون,Mortgages,تسجيل إيجارة تنتهى بالتملك,Lease to Own Registration,2022-07-15,4,فيلا,...,208.63,2475000.0,11863.11,2475000.0,11863.0,2.0,2.0,2.0,2022,0.743064
3,2-13-2018-6626,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,2018-08-14,4,فيلا,...,904.60,5050000.0,5582.58,NaN,NaN,1.0,1.0,0.0,2018,0.106429
4,1-11-2022-11646,11,1,مبايعات,Sales,بيع,Sell,2022-05-30,3,وحدة,...,123.50,1340000.0,10850.20,NaN,NaN,1.0,1.0,0.0,2022,0.875740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1-107-2007-1036,107,1,مبايعات,Sales,تسجيل إيجارة تنتهى بالتملك - تسجيل مبدئى,Lease to Own Registration Pre-Registration,2010-06-05,3,وحدة,...,80.86,598019.0,7395.74,NaN,NaN,2.0,2.0,2.0,2010,0.013670
996,2-13-2022-11222,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,2022-07-27,1,أرض,...,1970.29,70000000.0,35527.76,NaN,NaN,1.0,1.0,0.0,2022,0.304445
997,1-11-2016-5233,11,1,مبايعات,Sales,بيع,Sell,2016-03-05,3,وحدة,...,43.00,335000.0,7790.70,NaN,NaN,1.0,1.0,0.0,2016,0.647170
998,1-11-2022-5760,11,1,مبايعات,Sales,بيع,Sell,2022-03-22,3,وحدة,...,60.04,285000.0,4746.84,NaN,NaN,2.0,1.0,0.0,2022,0.700603
999,1-102-2021-14554,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,2021-08-30,4,فيلا,...,249.21,2406888.0,9658.07,NaN,NaN,1.0,1.0,0.0,2021,0.107693

Create Category type

In [17]:
df.columns

Index(['transaction_id', 'procedure_id', 'trans_group_id', 'trans_group_ar',
       'trans_group_en', 'procedure_name_ar', 'procedure_name_en',
       'instance_date', 'property_type_id', 'property_type_ar',
       'property_type_en', 'property_sub_type_id', 'property_sub_type_ar',
       'property_sub_type_en', 'property_usage_ar', 'property_usage_en',
       'reg_type_id', 'reg_type_ar', 'reg_type_en', 'area_id', 'area_name_ar',
       'area_name_en', 'building_name_ar', 'building_name_en',
       'project_number', 'project_name_ar', 'project_name_en',
       'master_project_en', 'master_project_ar', 'nearest_landmark_ar',
       'nearest_landmark_en', 'nearest_metro_ar', 'nearest_metro_en',
       'nearest_mall_ar', 'nearest_mall_en', 'rooms_ar', 'rooms_en',
       'has_parking', 'procedure_area', 'actual_worth', 'meter_sale_price',
       'rent_value', 'meter_rent_price', 'no_of_parties_role_1',
       'no_of_parties_role_2', 'no_of_parties_role_3', 'year',
       'category_type'],
      dtype='object')

In [18]:
FEATURES = ['transaction_id', 'procedure_id', 'trans_group_id', 'trans_group_ar',
       'trans_group_en', 'procedure_name_ar', 'procedure_name_en',
       'instance_date', 'property_type_id', 'property_type_ar',
       'property_type_en', 'property_sub_type_id', 'property_sub_type_ar',
       'property_sub_type_en', 'property_usage_ar', 'property_usage_en',
       'reg_type_id', 'reg_type_ar', 'reg_type_en', 'area_id', 'area_name_ar',
       'area_name_en', 'building_name_ar', 'building_name_en',
       'project_number', 'project_name_ar', 'project_name_en',
       'master_project_en', 'master_project_ar', 'nearest_landmark_ar',
       'nearest_landmark_en', 'nearest_metro_ar', 'nearest_metro_en',
       'nearest_mall_ar', 'nearest_mall_en', 'rooms_ar', 'rooms_en',
       'has_parking', 'procedure_area', 'actual_worth', 'meter_sale_price',
       'rent_value', 'meter_rent_price', 'no_of_parties_role_1',
       'no_of_parties_role_2', 'no_of_parties_role_3', 'year']

data = df[FEATURES]

In [19]:
for i in range(0,1000):
    if df.loc[i,'property_type_en'] == 'Unit'and df.loc[i,'property_usage_en'] == 'Residential':
        df['category_type'] = df['category_type'].replace({df.loc[i,'category_type'] : 'Apartement'})
        
    elif df.loc[i,'property_type_en'] == 'Villa'and df.loc[i,'property_usage_en'] == 'Residential':
        df['category_type'] = df['category_type'].replace({df.loc[i,'category_type'] : 'Villa'})
        
    elif df.loc[i,'property_type_en'] == 'Villa'and df.loc[i,'property_usage_en'] == 'Commercial':
        df['category_type'] = df['category_type'].replace({df.loc[i,'category_type'] : 'Commercial'})
        
    elif df.loc[i,'property_type_en'] == 'Unit'and df.loc[i,'property_usage_en'] == 'Commercial':
        df['category_type'] = df['category_type'].replace({df.loc[i,'category_type'] : 'Commercial'})
        
    elif df.loc[i,'property_type_en'] == 'Land':
        df['category_type'] = df['category_type'].replace({df.loc[i,'category_type'] : 'Plot'})
    else:
        df['category_type'] = df['category_type'].replace({df.loc[i,'category_type'] : 'Other'})
        
        

df = pd.concat([data, pd.DataFrame(df['category_type'])], axis=1)

In [20]:
df

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,year,category_type
0,1-102-2023-17138,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,2023-07-04,3,وحدة,...,40.88,641000.0,15680.04,NaN,NaN,1.0,1.0,0.0,2023,Apartement
1,3-9-2022-3031,9,3,هبات,Gifts,هبه,Grant,2022-09-22,3,وحدة,...,134.67,2990546.0,22206.47,NaN,NaN,1.0,1.0,0.0,2022,Apartement
2,2-110-2022-279,110,2,رهون,Mortgages,تسجيل إيجارة تنتهى بالتملك,Lease to Own Registration,2022-07-15,4,فيلا,...,208.63,2475000.0,11863.11,2475000.0,11863.0,2.0,2.0,2.0,2022,Villa
3,2-13-2018-6626,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,2018-08-14,4,فيلا,...,904.60,5050000.0,5582.58,NaN,NaN,1.0,1.0,0.0,2018,Villa
4,1-11-2022-11646,11,1,مبايعات,Sales,بيع,Sell,2022-05-30,3,وحدة,...,123.50,1340000.0,10850.20,NaN,NaN,1.0,1.0,0.0,2022,Apartement
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1-107-2007-1036,107,1,مبايعات,Sales,تسجيل إيجارة تنتهى بالتملك - تسجيل مبدئى,Lease to Own Registration Pre-Registration,2010-06-05,3,وحدة,...,80.86,598019.0,7395.74,NaN,NaN,2.0,2.0,2.0,2010,Apartement
996,2-13-2022-11222,13,2,رهون,Mortgages,تسجيل رهن,Mortgage Registration,2022-07-27,1,أرض,...,1970.29,70000000.0,35527.76,NaN,NaN,1.0,1.0,0.0,2022,Plot
997,1-11-2016-5233,11,1,مبايعات,Sales,بيع,Sell,2016-03-05,3,وحدة,...,43.00,335000.0,7790.70,NaN,NaN,1.0,1.0,0.0,2016,Apartement
998,1-11-2022-5760,11,1,مبايعات,Sales,بيع,Sell,2022-03-22,3,وحدة,...,60.04,285000.0,4746.84,NaN,NaN,2.0,1.0,0.0,2022,Apartement
999,1-102-2021-14554,102,1,مبايعات,Sales,بيع - تسجيل مبدئى,Sell - Pre registration,2021-08-30,4,فيلا,...,249.21,2406888.0,9658.07,NaN,NaN,1.0,1.0,0.0,2021,Villa

In [21]:
df['category_type'].unique()

array(['Apartement', 'Villa', 'Commercial', 'Other', 'Plot'], dtype=object)

# Groupby year, category_type and area in a dictionary

In [22]:
df['area_name_en'].unique()

array(['Al Barsha South Fourth', 'Burj Khalifa',
       'Hadaeq Sheikh Mohammed Bin Rashid', 'Mirdif', 'Marsa Dubai',
       "Me'Aisem First", 'Al Thanyah Fifth', 'Al Barshaa South Second',
       'Wadi Al Safa 5', 'Al Warsan First', 'Wadi Al Safa 2',
       'Al Hebiah Third', 'Business Bay', 'Al Hebiah Fourth',
       'Nadd Hessa', 'Wadi Al Safa 6', 'Al Thanyah Third',
       'Madinat Al Mataar', 'Al Thanayah Fourth',
       'Al Barshaa South Third', 'Madinat Dubai Almelaheyah',
       'Hessyan Second', 'Al Safouh Second', 'Al Goze First',
       'Palm Jumeirah', 'Al Goze Second', 'Al Yufrah 2', 'Wadi Al Safa 3',
       'Al Ruwayyah', 'Jabal Ali First', 'Nad Al Shiba First', 'Al Kifaf',
       'Al Warqa Third', 'Al Merkadh', 'Al Khabeesi',
       'Al Barshaa South First', 'Al Yelayiss 1', 'Al Thanyah First',
       'Port Saeed', 'Al Hebiah Fifth', 'Al Hebiah First', 'Al Wasl',
       'Al Khawaneej First', 'Al Barsha South Fifth', 'Jabal Ali',
       'Jumeirah First', 'Al Raffa', 'Hor Al Anz', 'Al Yelayiss 2',
       'Jabal Ali Industrial Second', 'Dubai Investment Park First',
       'Oud Al Muteena First', 'Naif', 'Zaabeel Second',
       'Al Barsha Second', 'Al Aweer First', 'Trade Center First',
       'Al Suq Al Kabeer', 'Hessyan First', 'Naif North', 'Island 2',
       'Wadi Al Safa 7', 'Al Khairan First', 'Al Barsha First',
       'Um Suqaim Third', 'Um Al Sheif', 'Al Jadaf', 'Al Hebiah Second',
       'Al Yufrah 1', 'Trade Center Second', 'Al Hebiah Sixth',
       'Nad Al Shiba', 'Al Goze Fourth', 'Jumeirah Third', 'Al Hamriya',
       'Abu Hail', 'Al Muteena', 'Saih Shuaib 1', 'Al Saffa Second',
       'Madinat Hind 3', 'Al Yufrah 3', 'Al Waheda', 'Wadi Al Amardi',
       'Hor Al Anz East', 'Al Satwa', 'Jabal Ali Industrial First',
       'Al Nahda First', 'Al Khawaneej Second', 'Warsan Fourth',
       'Wadi Alshabak', 'Al Bada', 'Al Warqa Second', 'Muhaisanah First',
       'Al Mizhar Third', 'Al Twar Fourth', 'Saih Shuaib 2',
       'Um Suqaim Second', 'Al Mamzer', 'Nad Al Hamar',
       'Dubai Investment Park Second', 'Al Mizhar Second',
       'Al Warqa Fourth', 'Al Safouh First', 'Rega Al Buteen'],
      dtype=object)

In [23]:
len(df['area_name_en'].unique())

104

In [24]:
mon_dict = {}
grouped_df = df.groupby(['year','category_type' , 'area_name_en'])
for k in range(1997,2024):
    mon_dict[f'transaction_Apartement_{k}'], mon_dict[f'transaction_Villa_{k}'], mon_dict[f'transaction_Commercial_{k}'],mon_dict[f'transaction_Other_{k}'], mon_dict[f'transaction_Plot_{k}'] = {},{},{},{},{} 
    for i in range(0,len(df['area_name_en'].unique())):
        try:
            mon_dict[f'transaction_Apartement_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Apartement', df['area_name_en'].unique()[i]))
            mon_dict[f'transaction_Villa_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Villa', df['area_name_en'].unique()[i]))
            mon_dict[f'transaction_Commercial_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Commercial', df['area_name_en'].unique()[i]))
            mon_dict[f'transaction_Other_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Other', df['area_name_en'].unique()[i]))
            mon_dict[f'transaction_Plot_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Plot', df['area_name_en'].unique()[i]))
        except KeyError: 
            try:
                mon_dict[f'transaction_Villa_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Villa', df['area_name_en'].unique()[i]))
                mon_dict[f'transaction_Commercial_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Commercial', df['area_name_en'].unique()[i]))
                mon_dict[f'transaction_Other_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Other', df['area_name_en'].unique()[i]))
                mon_dict[f'transaction_Plot_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Plot', df['area_name_en'].unique()[i]))
            except KeyError:
                try:
                    mon_dict[f'transaction_Commercial_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Commercial', df['area_name_en'].unique()[i]))
                    mon_dict[f'transaction_Other_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Other', df['area_name_en'].unique()[i]))
                    mon_dict[f'transaction_Plot_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Plot', df['area_name_en'].unique()[i]))
                except KeyError:
                    try:
                        mon_dict[f'transaction_Other_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Other', df['area_name_en'].unique()[i]))
                        mon_dict[f'transaction_Plot_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Plot', df['area_name_en'].unique()[i]))
                    except KeyError:
                        try:
                            mon_dict[f'transaction_Plot_{k}'][df['area_name_en'].unique()[i]] = grouped_df.get_group((k, 'Plot', df['area_name_en'].unique()[i]))
                        except KeyError:
                            continue

In [25]:
mon_dict

{'transaction_Apartement_1997': {},
 'transaction_Villa_1997': {},
 'transaction_Commercial_1997': {},
 'transaction_Other_1997': {},
 'transaction_Plot_1997': {},
 'transaction_Apartement_1998': {},
 'transaction_Villa_1998': {},
 'transaction_Commercial_1998': {},
 'transaction_Other_1998': {},
 'transaction_Plot_1998': {},
 'transaction_Apartement_1999': {},
 'transaction_Villa_1999': {},
 'transaction_Commercial_1999': {},
 'transaction_Other_1999': {'Al Khabeesi':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  330  2-13-1998-175            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  330      Mortgages         تسجيل رهن  Mortgage Registration    1999-11-10

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  330                 2             مبنى  ...        3318.77     1000000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  330           301.32        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  330                   1.0                  0.0  1999          Other

  [1 rows x 48 columns],
  'Al Hamriya':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  439  2-13-1999-282            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  439      Mortgages         تسجيل رهن  Mortgage Registration    1999-03-15

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  439                 2             مبنى  ...         441.29     3600000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  439           8157.9        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  439                   1.0                  0.0  1999          Other

  [1 rows x 48 columns]},
 'transaction_Plot_1999': {},
 'transaction_Apartement_2000': {},
 'transaction_Villa_2000': {},
 'transaction_Commercial_2000': {},
 'transaction_Other_2000': {},
 'transaction_Plot_2000': {},
 'transaction_Apartement_2001': {},
 'transaction_Villa_2001': {'Al Goze First':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  599  2-13-2001-438            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  599      Mortgages         تسجيل رهن  Mortgage Registration    2001-06-18

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  599                 4             فيلا  ...         929.03      250000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  599            269.1        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  599                   1.0                  0.0  2001          Villa

  [1 rows x 48 columns]},
 'transaction_Commercial_2001': {},
 'transaction_Other_2001': {},
 'transaction_Plot_2001': {'Al Satwa':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  585  1-11-2001-962            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  585          Sales               بيع              Sell    2001-09-17

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  585                 1              أرض  ...         232.26      350000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  585          1506.93        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  585                   1.0                  0.0  2001           Plot

  [1 rows x 48 columns]},
 'transaction_Apartement_2002': {},
 'transaction_Villa_2002': {'Um Suqaim Second':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  841  2-13-2002-426            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  841      Mortgages         تسجيل رهن  Mortgage Registration    2002-03-06

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  841                 4             فيلا  ...         594.58     1147135.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  841          1929.32        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  841                   1.0                  0.0  2002          Villa

  [1 rows x 48 columns]},
 'transaction_Commercial_2002': {},
 'transaction_Other_2002': {},
 'transaction_Plot_2002': {'Naif North':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  268  2-13-1996-194            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  268      Mortgages         تسجيل رهن  Mortgage Registration    2002-01-14

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  268                 1              أرض  ...         119.84     1000000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  268          8344.46        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  268                   1.0                  0.0  2002           Plot

  [1 rows x 48 columns]},
 'transaction_Apartement_2003': {},
 'transaction_Villa_2003': {'Mirdif':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  223  1-11-2003-462            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  223          Sales               بيع              Sell    2003-08-04

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  223                 4             فيلا  ...         743.22      584000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  223           785.77        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  223                   1.0                  0.0  2003          Villa

  [1 rows x 48 columns],
  'Al Wasl':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  974  1-11-2003-1845            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  974          Sales               بيع              Sell    2003-12-15

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  974                 4             فيلا  ...         929.03     1800000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  974           1937.5        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  974                   1.0                  0.0  2003          Villa

  [1 rows x 48 columns],
  'Al Warqa Fourth':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  964  2-13-2003-634            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  964      Mortgages         تسجيل رهن  Mortgage Registration    2003-11-08

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  964                 4             فيلا  ...        1226.97     1250000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  964          1018.77        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  964                   1.0                  0.0  2003          Villa

  [1 rows x 48 columns]},
 'transaction_Commercial_2003': {},
 'transaction_Other_2003': {},
 'transaction_Plot_2003': {'Nad Al Hamar':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  906  1-11-2003-1059            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  906          Sales               بيع              Sell    2003-07-16

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  906                 1              أرض  ...        1393.55      660000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  906           473.61        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  906                   1.0                  0.0  2003           Plot

  [1 rows x 48 columns]},
 'transaction_Apartement_2004': {},
 'transaction_Villa_2004': {'Al Barsha Second':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  211  1-11-2004-1265            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  211          Sales               بيع              Sell    2004-08-06

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  211                 4             فيلا  ...        1393.55     1350000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  211           968.75        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  211                   1.0                  0.0  2004          Villa

  [1 rows x 48 columns],
  'Al Warqa Second':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  705  1-11-2004-1534            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  705          Sales               بيع              Sell    2004-12-07

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  705                 4             فيلا  ...         1155.9      670000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  705           579.63        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  705                   1.0                  0.0  2004          Villa

  [1 rows x 48 columns]},
 'transaction_Commercial_2004': {},
 'transaction_Other_2004': {},
 'transaction_Plot_2004': {},
 'transaction_Apartement_2005': {},
 'transaction_Villa_2005': {'Mirdif':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  864  1-11-2005-1057            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  864          Sales               بيع              Sell    2005-04-19

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  864                 4             فيلا  ...         672.34     2350000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  864          3495.26        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  864                   1.0                  0.0  2005          Villa

  [1 rows x 48 columns],
  'Jumeirah Third':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  433  1-11-2005-476            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  433          Sales               بيع              Sell    2005-02-15

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  433                 4             فيلا  ...         910.64     4400000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  433          4831.77        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  433                   1.0                  0.0  2005          Villa

  [1 rows x 48 columns]},
 'transaction_Commercial_2005': {},
 'transaction_Other_2005': {'Trade Center First':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  225  2-13-2005-736            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  225      Mortgages         تسجيل رهن  Mortgage Registration    2005-07-26

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  225                 2             مبنى  ...        1858.06           NaN

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  225         139930.9        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  225                   1.0                  0.0  2005          Other

  [1 rows x 48 columns],
  'Al Muteena':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  834  1-11-2005-1447            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  834          Sales               بيع              Sell    2005-06-13

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  834                 2             مبنى  ...        1146.89     8000000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  834          6975.39        NaN              NaN                  4.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  834                   2.0                  0.0  2005          Other

  [1 rows x 48 columns],
  'Wadi Al Amardi':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  576   1-11-2005-53            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  576          Sales               بيع              Sell    2005-05-01

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  576                 2             مبنى  ...        6364.23     1370000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  576           215.27        NaN              NaN                  2.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  576                   1.0                  0.0  2005          Other

  [1 rows x 48 columns],
  'Hor Al Anz East':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  582   3-9-2005-124             9               3           هبات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  582          Gifts               هبه             Grant    2005-06-20

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  582                 2             مبنى  ...        2826.56    19000000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  582          6721.95        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  582                   1.0                  0.0  2005          Other

  [1 rows x 48 columns]},
 'transaction_Plot_2005': {},
 'transaction_Apartement_2006': {},
 'transaction_Villa_2006': {'Al Warqa Third':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  640  2-13-2006-411            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  640      Mortgages         تسجيل رهن  Mortgage Registration    2006-11-04

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  640                 4             فيلا  ...        1152.55      750000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  640           650.73        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  640                   1.0                  0.0  2006          Villa

  [1 rows x 48 columns],
  'Muhaisanah First':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  733  2-13-2006-516            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  733      Mortgages         تسجيل رهن  Mortgage Registration    2006-01-05

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  733                 4             فيلا  ...        1138.06     1314567.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  733          1155.09        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  733                   1.0                  0.0  2006          Villa

  [1 rows x 48 columns]},
 'transaction_Commercial_2006': {'Al Thanayah Fourth':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  794  1-11-2006-1879            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  794          Sales               بيع              Sell    2006-07-11

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  794                 4             فيلا  ...         704.95     2055800.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  794          2916.24        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  794                   2.0                  0.0  2006     Commercial

  [1 rows x 48 columns],
  'Al Barsha First':     transaction_id  procedure_id  trans_group_id trans_group_ar  \
  335  2-13-2006-854            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  335      Mortgages         تسجيل رهن  Mortgage Registration    2006-07-18

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  335                 4             فيلا  ...        5729.51    11000000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  335          1919.88        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  335                   1.0                  0.0  2006     Commercial

  [1 rows x 48 columns]},
 'transaction_Other_2006': {'Marsa Dubai':      transaction_id  procedure_id  trans_group_id trans_group_ar  \
  762  2-13-2006-1654            13               2           رهون

      trans_group_en procedure_name_ar      procedure_name_en instance_date  \
  762      Mortgages         تسجيل رهن  Mortgage Registration    2006-12-25

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  762                 2             مبنى  ...        9450.19           NaN

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  762         22645.05        NaN              NaN                  1.0

       no_of_parties_role_2 no_of_parties_role_3  year  category_type
  762                   1.0                  0.0  2006          Other

  [1 rows x 48 columns]},
 'transaction_Plot_2006': {},
 'transaction_Apartement_2007': {'Marsa Dubai':        transaction_id  procedure_id  trans_group_id trans_group_ar  \
  990  1-11-2007-200779            11               1        مبايعات

      trans_group_en procedure_name_ar procedure_name_en instance_date  \
  990          Sales               بيع              Sell    2007-09-27

       property_type_id property_type_ar  ... procedure_area  actual_worth  \
  990                 3             وحدة  ...          66.33      299000.0

      meter_sale_price rent_value meter_rent_price no_of_parties_role_1  \
  990          4507.76        NaN              NaN                  1.0


In [26]:
def KPIs(info , region ) : 
    kpi = {}
    if mon_dict[info] != {} :
        kpi = {'Num_transactions' : len(mon_dict[info][region].index),
                                       'Sales_Value' : mon_dict[info][region]['meter_sale_price'].sum()
                                      }  
        return kpi
    else : 
        print('there is no transaction that matches your details ')

# Testing KPIs function

In [27]:
KPIs('transaction_Other_1999' , 'Al Khabeesi')

{'Num_transactions': 1, 'Sales_Value': 301.32}

In [28]:
KPIs('transaction_Other_1999' , 'Al Hamriya')

{'Num_transactions': 1, 'Sales_Value': 8157.9}

In [29]:
KPIs('transaction_Commercial_1999' , 'Al Khabeesi')

there is no transaction that matches your details